.login-section{
    background: 
    linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.8) 100%),
    url('../../assets/img/startpage.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100vh;
}