
<section>
    <app-login-header [hideLogInButton]="hideLogInButton" class="header"></app-login-header>
    <div class="login-container">
        <div class="login-container-bg">
            
            <div class="action-div">
                <h2>Einloggen</h2>
                <form class="login-form" action="">
                    <input [(ngModel)]="sharedService.currentMail" name="email" placeholder="E-Mail-Adresse" class="login-email-input" type="text">
                    <input [(ngModel)]="password" name="password" placeholder="Passwort" class="login-password-input" type="text">
                    <button (click)="logIn()" class="login-button">Einloggen</button>
                </form>
                <a href="">Passwort vergessen?</a>
               <p  [ngStyle]="{
                'display': mailOrPasswordWrong ? 'flex' : 'none',
              }" class="invalid-login">*E-Mail oder Passwort falsch</p>
            </div>
        </div>
      
        
    </div>
    
</section>
<app-login-footer></app-login-footer>