@import '../../../styles.scss';

section {
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.8) 100%),
        url('/assets/img/login.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container-bg {
    background-color: white;
    /* padding: 138px; rausnehmen?*/
    height: 50%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 32px;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
    align-items: center;
}

.login-email-input {
    background: none;
    width: 350px;
    height: 42px;
    border-radius: 12px;
    border: 1px solid $main-blue;
    padding-left: 24px;
    font-size: 16px;
    font-family: $nunito;

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        font-size: 16px;
        color: $main-blue
    }
}

.login-password-input {
    background: none;
    width: 350px;
    height: 42px;
    border-radius: 12px;
    border: 1px solid $main-blue;
    padding-left: 24px;
    font-size: 16px;
    font-family: $nunito;

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        font-size: 16px;
        color: $main-blue
    }
}

.pw-input-container{
    position: relative;
}

.visibility-icon{
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
}

.login-button {
    width: 151px;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    font-family: "Nunito";
    border-radius: 40px;
    background: rgb(46, 62, 223);
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: background-color 0.3s ease;
    gap: 8px;
    padding: 12px 24px 12px 24px;


    &:hover {
        background: $button-hover;
        /* Slightly darker red */
    }

}

.action-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    align-items: flex-start;

    >h2 {
        color: $main-blue;
        font-size: 32px;
        font-family: $nunito;
    }


}

.link-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 8px;

    >a {
        text-decoration: none;
        color: $main-blue;
        transition: color 0.3s ease;
        width: 100%;
        text-align: center;
        font-weight: bold;

        &:hover {
            color: $button-hover;
        }
    }
}

.new-text {
    display: flex;
    align-items: center;
gap: 24px;
    >a {
        text-decoration: none;
        color: $main-blue;
        transition: color 0.3s ease;

        text-align: center;
        font-weight: bold;

        &:hover {
            color: $button-hover;
        }
    }
}

.invalid-login {
    color: red;
}

/*Loading Screen*/
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(102 102 102 / 24%);
    z-index: 9999;
}

.spinner {
    border: 16px solid black;
    border-top: 16px solid $main-blue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Responsive*/

@media(max-width: 1000px) {
    .login-container-bg {
        width: 65%;
    }
}

@media(max-width: 600px) {
    .login-container-bg {
        width: 85%;
    }
}

@media(max-width: 500px) {
    .login-email-input {
        width: 250px;
    }

    .login-password-input {
        width: 250px;
    }
}

@media(max-width: 400px) {
    .login-email-input {
        width: 250px;
    }

    .login-password-input {
        width: 250px;
    }

    .login-container-bg {
        height: 45%;
    }

    .action-div {
        >h2 {
            margin-block-end: 0;
        }
    }
}

@media(max-width: 350px) {
    .login-email-input {
        width: 200px;
    }

    .login-password-input {
        width: 200px;
    }
}

@media(max-height: 810px) {
    .action-div {
        >h2 {
            margin-block-end: 0;
        }
    }

    .login-form {
        margin-top: 0;
    }
}

@media(max-height: 760px) {
    .action-div {
        >h2 {
            margin-block-end: 0;
            margin-block-start: 8px;
        }
    }

    .login-container-bg {
        height: 360px;
    }
}