<section>
    <app-login-header class="header"></app-login-header>
    <div class="login-container" [@animSlider]="counter">
        <div class="register-container-bg" *ngIf="counter === 0">
            <div class="action-div">
                <h2>Email-Adress</h2>
                <form #mailForm="ngForm" class="login-form">
                    <input (keydown.enter)="checkMail(emailInput)" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  #emailInput="ngModel" required [(ngModel)]="sharedService.currentMail" placeholder="E-Mail-Adress" name="email"
                        class="login-email-input" type="email">
                    <button  [class.disabled]="!mailForm.valid" class="login-button" (click)="checkMail(emailInput)">Continue</button>
                    <p #mailInfo class="taken-mail-info">*This mail is already taken</p>
                </form>
            </div>
        </div>
        <div class="register-container-bg" *ngIf="counter === 1">
            <div class="action-div">
                <h2>Name</h2>
                <form #nameForm="ngForm" class="login-form2" (ngSubmit)="onNext()">
                    <input required [(ngModel)]="firstName" placeholder="First Name" name="firstName"
                        class="login-email-input" type="text">
                    <input required [(ngModel)]="lastName" placeholder="Last Name" name="lastName"
                        class="login-email-input" type="text">
                    <button [disabled]="!nameForm.valid" class="login-button" type="submit">Continue</button>
                    <button class="login-button" type="button" (click)="onPrevious()">Back</button>
                </form>
            </div>
        </div>
        <div class="register-container-bg" *ngIf="counter === 2">
            <div class="action-div">
                <h2 class="address-headline">Adresse & Nummer</h2>
                <form #addressForm="ngForm" class="login-form2" (ngSubmit)="onNext()">
                    <input required [(ngModel)]="address" placeholder="Adress" name="address" class="login-email-input"
                        type="text">
                    <input [(ngModel)]="phoneNumber" placeholder="Phone number (optional)" name="phoneNumber"
                        class="login-email-input" type="number">
                    <button [disabled]="!addressForm.valid" class="login-button" type="submit">Continue</button>
                    <button class="login-button" type="button" (click)="onPrevious()">Back</button>
                </form>
            </div>
        </div>
        <div class="register-container-bg" *ngIf="counter === 3">
            <div class="action-div">
                <h2>Password</h2>
                <form #pwForm="ngForm" class="login-form2">
                    <div class="pw-input-container">
                        <input [type]="isPasswordVisible ? 'text' : 'password'" required [(ngModel)]="pw1" placeholder="Password" name="firstPassword"
                        class="login-email-input" >
                        <img (click)="togglePasswordVisibility()" class="visibility-icon" src="./assets/img/visibility.png" alt="">
                    </div>
                    <div class="pw-input-container">
                        <input required [(ngModel)]="pw2" placeholder="Confirm password" name="repeatPassword"
                        class="login-email-input" [type]="isPasswordVisible ? 'text' : 'password'">
                        <img (click)="togglePasswordVisibility()" class="visibility-icon" src="./assets/img/visibility.png" alt="">
                    </div>
                    
                   
                    <button [disabled]="!pwForm.valid || pw1 !== pw2" (click)="register()" class="login-button"
                        type="submit">Register</button>
                    <button class="login-button" type="button" (click)="onPrevious()">Back</button>
                </form>
            </div>
        </div>
        <div class="register-succes-bg" *ngIf="counter === 4">
            <div class="success-registered-info-container">
                <h1>Welcome</h1>
                <p class="info1"> We have sent you a confirmation email. 
                    <br> Please check your inbox and follow the link inside to activate your profile.</p>
                <p class="info2"> If you do not find the email in your inbox, please also check your Spam or Junk Mail folder.</p>
                <button (click)="routeToLogIn()" class="final-login-button">Log In</button>
            </div>
        </div>
    </div>
    <!-- LoadingScreen -->
    <div *ngIf="loading" class="spinner-container">
        <div class="spinner"></div>
    </div>
</section>
<app-login-footer></app-login-footer>


<!-- <section>
    <app-login-header class="header"></app-login-header>
    <div class="login-container">
        <div class="register-container-bg" [@animSlider]="counter">
            <div class="action-div" *ngIf="counter === 0">
                <h2>Registrieren</h2>
                <form class="login-form" (ngSubmit)="onNext()">
                    <input placeholder="E-Mail-Adresse" name="email" class="login-email-input" type="text">
                    <button class="login-button" type="submit">Weiter</button>
                </form>
            </div>
            <div class="action-div" *ngIf="counter === 1">
                <form class="login-form" (ngSubmit)="onNext()">
                    <input placeholder="Vorname" name="firstName" class="login-email-input" type="text">
                    <input placeholder="Nachname" name="lastName" class="login-email-input" type="text">
                    <button class="login-button" type="submit">Weiter</button>
                    <button class="login-button" type="button" (click)="onPrevious()">Zurück</button>
                </form>
            </div>
            <div class="action-div" *ngIf="counter === 2">
                <form class="login-form">
                    <input placeholder="Adresse" name="address" class="login-email-input" type="text">
                    <input placeholder="Telefon Nummer" name="phoneNumber" class="login-email-input" type="text">
                    <button class="login-button" type="submit">Registrieren</button>
                    <button class="login-button" type="button" (click)="onPrevious()">Zurück</button>
                </form>
            </div>
        </div>
    </div>
</section> -->