@import '../../../styles.scss';

section {
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.8) 100%),
        url('/assets/img/signup.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container-bg {
    background-color: white;
    color: $main-blue;
    /* padding: 138px; rausnehmen?*/
    height: 44%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 32px;
    position: relative;
    overflow-x: hidden;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
    align-items: center;
}

.login-form2 {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
}

.login-email-input {
    background-color: $input-color;
    width: 350px;
    height: 42px;
    border-radius: 12px;
    border: 1px solid $main-blue;
    background: none;
    padding-left: 24px;
    font-size: 16px;
    font-family: $nunito;

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        font-size: 16px;
        color: $main-blue;
    }
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari und Chrome */
    appearance: none;
    /* Standard */
}

/* Entfernt die Pfeile in Firefox */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.login-password-input {
    background-color: $input-color;
    width: 350px;
    height: 42px;
    border-radius: 0.25rem;
    border: none;
    background-color: #d7d7d7;
    padding-left: 24px;
    font-size: 16px;
    font-family: $nunito;

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        font-size: 16px;
    }
}

.login-button {
    width: 151px;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    font-family: $nunito;
    border-radius: 40px;
    background: $button-blue;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: background-color 0.3s ease;
    gap: 8px;

    padding: 12px 24px 12px 24px;




    &:hover {
        background: $button-hover;
        /* Slightly darker red */
    }

    &:disabled {
        background-color: gray;
    }

}

.action-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    align-items: flex-start;

    >h2 {
        color: $main-blue;
        font-size: 32px;
        font-family: $nunito;
    }
}

.email-text {
    max-width: 350px;
    color: white;
    text-align: center;
    font-size: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: $nunito;
}

.taken-mail-info {
    color: red;
    opacity: 0;
}

.success-registered-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    font-size: 24px;
    padding-right: 24px;
    padding-left: 24px;
    text-align: center;
 
    >h1 {
        color:$main-blue;
        font-family: $nunito;
        font-size: 40px;
        margin-block-end: 0;
    }
}

.register-succes-bg {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 32px;
    position: relative;
    overflow-x: hidden;
}

.info1 {
    margin-block-start: 1em;
    margin-block-end: 0em;
    color: $main-blue;
}

.info2 {
    margin-block-start: 24px;
    margin-block-end: 24px;
    color: $main-blue
}

.final-login-button {
    font-family: "Nunito";
    border: 0;
    cursor: pointer;
    fill: currentColor;
    position: relative;
    vertical-align: text-top;
    width: auto;
    font-size: 20px;
    min-height: 2rem;
    padding: 12px 24px 12px 24px;
    border-radius: 40px;
    background: $button-blue;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: 32px;

    &:hover {
        background: $hover-red;
        /* Slightly darker red */
    }
}

.disabled {
    background-color: gray;

    &:hover {
        background-color: gray;
    }
}

.pw-input-container{
    position: relative;
}

.visibility-icon{
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
}

/*Loading Screen*/
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(102 102 102 / 24%);
    z-index: 9999;
}

.spinner {
    border: 16px solid black;
    border-top: 16px solid $main-red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}