
<section>
    <app-login-header  class="header"></app-login-header>
    <div class="login-container">
        <div class="register-container-bg">
            
            <div class="action-div">
                <h2>Registrieren</h2>
                <!-- <p>Geben Sie eine E-Mail Adresse an, um einen Aktivierungslink zu erhalten.</p> -->
                <form class="login-form" action="">
                    <input placeholder="E-Mail-Adresse" class="login-email-input" type="text">
                    <button class="login-button">Registrieren</button>
                </form>
               
            </div>
        </div>
      
        
    </div>
    
</section>
<app-login-footer></app-login-footer>