<section>
    <div class="main">
        <div class="headline">VideoFlix</div>
        <div>
            <div>
                <mat-form-field>
                    <mat-label>Language</mat-label>
                    <select matNativeControl required>
                        <option value="volvo">Deutsch</option>
                        <option value="saab">Englisch</option>
                    </select>
                </mat-form-field>
            </div>
            <div></div>
        </div>
    </div>
</section>