@import '../../../styles.scss';

section{
    height: 100vh;
    background: $background-design;

}
.impressum{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}

a{
    text-decoration: underline;
    color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 32px;
    padding-top: 24px;
}

.header-img{
    cursor: pointer;
}