<section>
    <div class="header">
        <img class="header-img" (click)="goBack()" src="../../../assets/img/Logo.png" alt="" >
        <img class="header-img" (click)="goBack()" src="../../../assets/img/arrow_back.png" alt="">
    </div>
    <div>
        <div class='impressum'>
            <h1>Impressum</h1>
            <p>Angaben gemäß § 5 DDG</p>
            <p>Jad El Nader <br>
                Karlstr.11<br>
                49134 Wallenhorst <br>
            </p>
            <p> <strong>Vertreten durch: </strong><br>
                Jad El Nader<br>
            </p>
            <p><strong>Kontakt:</strong> <br>
                Telefon: 0176-43558654<br>
                E-Mail: <a href='mailto:jadelnader99@gmail.com'>jadelnader99&#x40;gmail.com</a><br></p>
           <br>
            Website Impressum erstellt durch <a href="https://www.impressum-generator.de">impressum-generator.de</a> von
            der <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Kanzlei Hasselbach</a>
           
        </div>
        <app-login-footer></app-login-footer>
    </div>
   
</section>
