@import '../../../styles.scss';

section {
    background: $background-design;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-succes-bg {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 32px;
    position: relative;
    overflow-x: hidden;
}

.success-registered-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    font-size: 24px;
    padding-right: 24px;
    padding-left: 24px;
    text-align: center;

    >h1 {
        color: white;
        font-family: $nunito;
        font-size: 40px;
        margin-block-end: 0;
        color: $main-red;
    }
}

.login-form2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.login-email-input {
    background-color: $input-color;
    width: 350px;
    height: 42px;
    border-radius: 0.25rem;
    border: none;
    background-color: #d7d7d7;
    padding-left: 24px;
    font-size: 16px;
    font-family: $nunito;

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        font-size: 16px;
    }
}

.login-button {
    border: 0;
    cursor: pointer;
    font-size: 24px;
    font-family: $nunito;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: background-color 0.3s ease;
    gap: 8px;

    &:hover {
        background: $hover-red;
        /* Slightly darker red */
    }

    &:disabled {
        background-color: gray;
    }

}

.info1 {
    margin-block-start: 1em;
    margin-block-end: 0em;
    color: white;
}

.final-login-button {
    font-family: "Nunito";
    border: 0;
    cursor: pointer;
    fill: currentColor;
    position: relative;
    vertical-align: text-top;
    width: auto;
    font-size: 20px;
    min-height: 2rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    background: $main-red;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: 32px;

    &:hover {
        background: $hover-red;
        /* Slightly darker red */
    }
}

.success-mail-container {
    flex-direction: column;
}

.success-mail {
    color: green !important;
}

.user-not-found {
    flex-direction: column;

    >p {
        color: white;
    }

    >h1 {
        color: red;
    }
}

.user-not-found-headline {
    color: red;
}

/*Loading Screen*/
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(102 102 102 / 24%);
    z-index: 9999;
}

.spinner {
    border: 16px solid black;
    border-top: 16px solid $main-red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Responsive*/

@media(max-width: 400px) {
    .login-email-input{
        width: 260px;
    }
}