<section>
    <div class="main">
        <div class="headline">
            <img src="./assets/img/symbol.png" alt="">
        </div>
        <div class="buttons-container">
            
            <div (click)="logout()" class="user-button">
                <img src="./assets/img/logout.png" alt="">
                <span>Log Out</span>
            </div>
        </div>
    </div>

</section>

<div [ngClass]="{'show': showUserActions}" class="blured-background" (click)="toggleUserActions()">
    <div [ngClass]="{'show': showUserActions}" class="user-actions" (click)="$event.stopPropagation()">
        <button (click)="logout()" class="user-action-btn">Ausloggen</button>
        <button (click)="openInNewTab('/impressum')" class="user-action-btn">Impressum</button>
        <button (click)="openInNewTab('/data-protection')"  class="user-action-btn">Datenschutz</button>
    </div>
</div>