<section>
    <div class="main">
        <div class="headline">
            <img src="../../../assets/img/symbol.png" alt="">
        </div>
        <div class="buttons-container">
            <div class="link-container">
                <span [ngStyle]="{'color': showFavorites ? 'rgba(46, 62, 223, 1)' : 'white',}" (click)="routeToFavorites()"
                    class="favorites">Favorites</span>
                <span [ngStyle]="{'color': showFavorites ? 'white' : 'rgba(46, 62, 223, 1)',}" (click)="routeToHome()"
                    class="favorites">Home</span>
            </div>
            <div (click)="toggleUserActions()" class="user-button">
                <mat-icon class="person-icon">person</mat-icon>
            </div>
        </div>
    </div>

</section>

<div [ngClass]="{'show': showUserActions}" class="blured-background" (click)="toggleUserActions()">
    <div [ngClass]="{'show': showUserActions}" class="user-actions" (click)="$event.stopPropagation()">
        <button (click)="logout()" class="user-action-btn">Ausloggen</button>
        <button (click)="openInNewTab('/impressum')" class="user-action-btn">Impressum</button>
        <button (click)="openInNewTab('/data-protection')"  class="user-action-btn">Datenschutz</button>
    </div>
</div>