@import '../../../styles.scss';

section {
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.8) 100%),
        url('../../../assets/img/login.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
}

.login-container-bg {
    background-color: white;
    /* padding: 138px; rausnehmen?*/
    height: 350px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 32px;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.action-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;

    >h2 {
        color: $main-blue;
        font-size: 32px;
        font-family: $nunito;
    }
}

.text {
    color: black;
    font-size: 24px;
}

.email-input {
    width: 350px;
    height: 42px;
    border-radius: 12px;
    border: 1px solid $main-blue;
    background: none;
    padding-left: 24px;
    font-size: 16px;
    font-family: $nunito;

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        font-size: 16px;
        color: $main-blue;
    }
}

.login-button { 
    border: 0;
    cursor: pointer;
    font-size: 24px;
    font-family: "Nunito";
    border-radius: 40px;
    background: rgb(46, 62, 223);
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: background-color 0.3s ease;
    gap: 8px;
    padding: 12px 24px 12px 24px;

    &:hover {
        background: $button-hover;
        /* Slightly darker red */
    }

    &:disabled {
        background-color: gray;
    }
}

.taken-mail-info {
    color: red;
    opacity: 0;
}

.succes-info-headline{
    color: green
}

.email-info-text{
    color: $main-blue;
    font-size: 20px;
    padding-inline: 8px;
}



@media(max-width: 680px) {
    .login-container-bg {
        height: 350px;
        width: 400px;
    }

    .action-div {
        >h2 {
            font-size: 24px;
        }
    }

    .text {
        font-size: 16px;
    }

    .email-input {
        width: 250px;
    }
}

@media(max-width: 420px) {
    .login-container-bg {
        height: 350px;
        width: 320px;
    }

    .action-div {
        >h2 {
            font-size: 24px;
        }
    }

    .text {
        font-size: 16px;
    }

    .email-input {
        width: 250px;
    }
}