<section>
    <app-login-header [hideLogInButton]="hideLogInButton" class="header"></app-login-header>
    <div [@animSlider]="counter" class="login-container">
        <div *ngIf="counter === 0" class="login-container-bg">
            <div class="action-div">
                <h2>Passwort zurücksetzen</h2>
                <span class="text">Geben sie ihre Email Adresse ein, um ein neues Passwort anzufordern</span>
                <input [(ngModel)]="sharedService.currentMail" placeholder="E-Mail-Adresse" class="email-input" type="text">
                <button  class="login-button" (click)="checkExistMail()">Anfordern</button>
                <p #mailInfo class="taken-mail-info">*Diese Email ist nicht registriert</p>
            </div>
        </div>
        <div *ngIf="counter === 1" class="login-container-bg">
            <div class="action-div">
               <h1 class="succes-info-headline">Email erfolgreich versendet</h1>
               <span class="email-info-text">Folge den Anweisungen in der Email, um ein neues Passwort zu erstellen</span>
               <button  class="login-button" (click)="onPrevious()">Erneut Anfordern</button>
               <button  class="login-button" (click)="routeToLogIn()">Zurück zum LogIn</button>
            </div>
        </div>
    </div>


</section>
<app-login-footer></app-login-footer>