<section>
    <app-login-header [hideLogInButton]="hideLogInButton" class="header"></app-login-header>
    <div [@animSlider]="counter" class="login-container">
        <div *ngIf="counter === 0" class="login-container-bg">
            <div class="action-div">
                <h2>Forgot your password?</h2>
                <span class="text">We will send you an email with instructions to reset your password.</span>
                <input [(ngModel)]="sharedService.currentMail" placeholder="E-Mail-Adress" class="email-input" type="text">
                <button  class="login-button" (click)="checkExistMail()">Send Email</button>
                <p #mailInfo class="taken-mail-info">*This email is not registered</p>
            </div>
        </div>
        <div *ngIf="counter === 1" class="login-container-bg">
            <div class="action-div">
               <h1 class="succes-info-headline">Email sent successfully</h1>
               <span class="email-info-text">Follow the instructions in the email to create a new password</span>
               <button  class="login-button" (click)="onPrevious()">Request Again</button>
               <button  class="login-button" (click)="routeToLogIn()">Back to Log In</button>
            </div>
        </div>
    </div>


</section>
<app-login-footer></app-login-footer>