@import './../../../../styles.scss';

.login-main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    font-family: $nunito;
}

.headline {
    font-size: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.text-container {
    text-align: center
}

.first-text {
    font-size: 24px;
}

.second-text {
    font-size: 18px;
    margin-bottom: 34px;
}

.register-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.register-email-input {
    width: 350px;
    height: 42px;
    border-radius: 40px;
    border: 1px solid white;
    background: none;
    padding-left: 24px;
    font-size: 16px;
    font-family: $nunito;
    color: white;

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        font-size: 16px;
        color: white;
    }
}

.letsgo-btn {
    background: $main-red;
    padding: 12px 24px 12px 24px;
    border: 0;
    cursor: pointer;
    fill: currentColor;
    width: auto;
    font-size: 18px;
    font-family: $nunito;
    border-radius: 40px;
    background: $button-blue;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 4px;

    &:hover {
        background: $button-hover;
        /* Slightly darker red */
    }
}

.responsive-text-container {
    display: none;
}

.arrow-ios {
    font-size: 18px;
    height: 18px;
}


/*Loading Screen*/
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(102 102 102 / 24%);
    z-index: 9999;
}

.spinner {
    border: 16px solid black;
    border-top: 16px solid $main-blue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*Responsive*/

@media(max-width: 950px) {
    .headline {
        font-size: 46px;
    }

    .first-text {
        font-size: 22px;
    }

    .second-text {
        font-size: 17px;
    }
}

@media(max-width:800px) {
    .text-container {
        margin: 0 24px 0 24px;
    }

    .headline {
        font-size: 40px;
    }

    .first-text {
        font-size: 21px;
    }
}

@media(max-width:570px) {
    .text-container {
        margin: 0 24px 0 24px;
    }

    .second-text {
        display: none;
    }

    .headline {
        font-size: 28px;
    }

    .register-container {
        flex-direction: column;
        gap: 24px;
    }

    .login-main-section {
        margin-top: 180px;
    }

    .responsive-text-container {
        display: contents;
    }

    .second-responsive-text {
        font-size: 17px;
        text-align: center;
        margin-block-start: 0;
    }
}

@media(max-width:390px) {
    .register-email-input {
        width: 280px;
    }
}

