
<section class="login-main-section">
    <div class="text-container">
        <h1 class="headline">Movies, TV shows, and more</h1>
        <p class="first-text">Watch whenever you want wherever you want</p>
        <p class="second-text">Enter your email to create or restart your subscription.</p>
    </div>
    <div class="responsive-text-container">
        <p class="second-responsive-text">Enter your email  <br>to create or restart your subscription</p>
    </div>
    <div class="register-container">
        <input [(ngModel)]="email" placeholder="E-Mail-Adresse" class="register-email-input" type="text">
        <button (click)="checkIfMailExist()" class="letsgo-btn">Sign Up  <mat-icon class="arrow-ios">arrow_forward_ios</mat-icon></button>
    </div> 
</section>
